.cat-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 10px 0px;
}

.container {
  display: flex;
  height: auto;
  gap: 16px;
  padding: 6px 16px;
  width: calc(100% - 32px);
}

.column {
  display: flex;
  height: min-content;
  flex-direction: column;
  gap: 16px;
}

.card {
  max-width: 390px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    background-color: lightgray;
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  height: fit-content;
}
